Task5 

from thr above dictionry , do the following tasks
access "Mike" access "Mike" change "mike" tp "your name" add ML=80 and DL =80 inside marks

In [19]:
dict1 = {
    "april_batch":{
        "student":{
            "name":"Mike",
             "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

In [20]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [21]:
##Access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [22]:
##Access "80"
dict1["april_batch"]["student"]["marks"]["python"]

80

In [23]:
##chnge mike to your name
dict1["april_batch"]["student"]["name"]="Sagar"

In [24]:
dict1

{'april_batch': {'student': {'name': 'Sagar',
   'marks': {'python': 80, 'maths': 70}}}}

In [25]:
## Add ML=80 and DL=80 inside marks
dict1["april_batch"]["student"]["marks"].update(ML=80,DL=80)

In [26]:
dict1

{'april_batch': {'student': {'name': 'Sagar',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}