Task6

In [2]:
## Add and remove the elements from a tuple

In [3]:
tup = (1,2,3,4,5,6,7,8)
tup

(1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
## convert intp list
list1 = list(tup)
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
## Add the values
list1.append(9)

In [19]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list1.append(10)

In [21]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list1.insert(5,12)

In [25]:
list1

[1, 2, 3, 4, 5, 12, 6, 7, 8, 9, 10, 12]

In [26]:
## remove values
list1.remove(12)

In [27]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [29]:
## Again covert to tuple 
tup1 = tuple(list1)
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)

In [30]:
tup1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12)